@using EPiServer.Marketing.Testing.Dal.DataAccess.FullSttack.Core.Impl.Models
@model OptiExperimentResults
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
<div>
        <h1 class="flex--1" data-test-section="results-page-title">Experiment Results</h1>
</div>
    <strong>@Model.ExperimentId</strong>
   <h1>Hello There, Welcome</h1>
}
